.aboutnavigate {
    background-color: rgb(234, 222, 215);
    height: 15vh;
    align-content: center;
    flex-wrap: wrap;
}

.abouttext {
    color: rgb(121, 87, 68);
    cursor: pointer;
}

.pathtext {
    color: #453227;
    cursor: pointer;
}